body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex; /* Creates a flex container */ 
  flex-direction: column; /* Vertical flex direction */ 
  justify-content: center; /* Items centered vertically */ 
  align-items: center; /* Items centered horizontally */
}
